.team{
    margin: 10px;
    box-shadow: 3px 3px 3px lightblue;
}
.logo {
    width: 20%;
}
.team_child{
    background-color: rgb(206 206 206 / 31%);
    padding: 15px;
    margin: 10px 0;
    box-shadow: 3px 3px 3px #8a2be285;
}